site_name: Projet IFT2255 - Plateforme de Choix de Cours UdeM
site_description: Analyse complète et prototype d'une plateforme web de choix de cours pour les étudiants de l'Université de Montréal
site_author: Mamadou Traore (20290120)
site_url: https://mamadou-traore.github.io/IFT2255-Projet-Choix-Cours

theme:
  name: material
  language: fr
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.highlight
    - search.suggest
    - search.share
    - content.tabs.link
    - content.code.copy
    - content.code.annotate
  palette:
    - scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
    
copyright: "&copy; 2025 <b>Mamadou Traore</b> &ndash; Projet IFT2255 - Plateforme de Choix de Cours UdeM <br>Département d'informatique et de recherche opérationnelle <br>Université de Montréal"

repo_name: G4
repo_url: https://github.com/yeah1224-yh/G4

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.emoji
  - pymdownx.keys
  - attr_list
  - def_list
  - footnotes
  - meta
  - toc:
      permalink: true
  - tables

plugins:
  - search

extra_css:
  - css/no-sidebar.css

nav:
  - Vue d'ensemble: index.md
  - Analyse des besoins: 
    - Présentation générale: besoins/index.md
    - Glossaire: besoins/glossaire.md
    - Exigences: besoins/exigences.md
    - Risques: besoins/risques.md
    - Cas d'utilisation: besoins/cas-utilisation.md
    - Flux principaux: besoins/flux-principaux.md
  - Conception:
    - Présentation générale: conception/index.md
    - Architecture: conception/architecture.md
    - Modèle de données: conception/modeles.md
    - Diagrammes UML: conception/uml.md
  - Application: application.md
  - Evaluation: evaluation.md
  - Bilan: bilan.md
